/* login css */

/* 로그인 전체 컨테이너 */
.login-container{
    /* 전체 너비 사용 */
    width: 100%;
    /* 마진 0 오토 */
    margin: 0 auto;
    margin-top: 40px;
}
/* 로그인 로고 컨테이너 */
.login-logo-container{
    /* 로고 가운데로 오도록 */
    text-align: center;
    /* /* 헤더 대비 마진탑 */
    /* margin-top: 120px;  */
}
/* 로그인 로고 */
.login-logo{
    width: 320px;
    height: auto;
}

.login-function-container{
    text-align: center;
    margin-top: 20px;
}

.login-function-form{
    display: inline-flex;
}

.login-input-container{
    width: 192px;
    margin: 8px;
}

input[type=text]{
    margin: 0;
    padding: 4px;
    width: 184px;
    height: 20px;
    font-size: 16px;
    border: 0;
    border-radius: 8px;
    outline: none;
    background-color: #D9D9D9;
}

#pw-input{
    margin-top: 8px;
}

.login-button-container{
    display: flex;
    align-items: center;
}

.login-button{
    margin: 8px;
    padding: 0;
    /* margin-top: 16px;
    margin-left: 8px; */
    width: 96px;
    height: 64px;
    border: 0;
    border-radius: 8px;
    outline: none;
    background-color: #D9D9D9;
    font-size: 16px;
}

.login-links-container{
    text-align: center;
}

.login-phrase-container{
    text-align: center;
}

.text-align-right{
    text-align: right;
}

.login-phrase-container{
    margin-top: 40px;
}