
.login-container{
    width: 100%;
    margin: 0 auto;
}

.login-logo-container{
    text-align: center;
    margin-top: 120px;
}
.login-logo{
    width: 360px;
    height: 160px;
}

.login-function-container{
    text-align: center;
}

.login-function-form{
    display: inline-flex;
}

.login-description-container{
    margin-left: 32px;
}

.login-description{
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.login-input-container{
    width: 260px;
}

input[type=text]{
    margin: 0;
    padding: 0;
    margin-top: 20px;
    width: 240px;
    height: 28px;
    font-size: 16px;
    border: 0;
    border-radius: 4px;
    outline: none;
    background-color: #D9D9D9;

}

.id-input{
    margin: 16px;
}

.pw-input{
    margin: 16px;
    margin-top: 0px;
}

.login-button-container{
    display: flex;
    align-items: center;
}

.login-button{
    margin: 0;
    padding: 0;
    margin-top: 20px;
    width: 100px;
    height: 76px;
    border: 0;
    border-radius: 4px;
    outline: none;
    background-color: #D9D9D9;
}

.login-links-container{
    text-align: center;
}

.login-phrase-container{
    text-align: center;
}

.text-align-right{
    text-align: right;
}

ul li{
    list-style: none;
}
li{
    display: inline-block;
    margin: 0 20px;
}
ul{
    align-items: center;
}

a{
    text-decoration: none;
    color: #000000;
}

.login-phrase-container{
    margin-top: 40px;
}